/* stylelint-disable */

:root {
    --frm-color-primary: #FAFAFA;
    --frm-color-secondary: #163666;
    --rev-h0-font-weight: 700;
    --rev-h0-letter-spacing: -0.01em;
    --rev-h0-line-height: .85;
    --rev-h0-xl: 5.738rem;
    --rev-h0-margin-bottom: 0;
    --rev-h1-font-weight: 700;
    --rev-h1-letter-spacing: -0.01em;
    --rev-h1-line-height: .85;
    --rev-h1-lg: 3.594rem;
    --rev-h1-margin-bottom: 0;
    --rev-h2-font-weight: 700;
    --rev-h2-letter-spacing: -0.01em;
    --rev-h2-line-height: .85;
    --rev-h2-md: 3.57rem;
    --rev-h2-margin-bottom: .05rem;
    --rev-h3-font-weight: 700;
    --rev-h3-letter-spacing: -0.01em;
    --rev-h3-line-height: .9;
    --rev-h3-base: 2.798rem;
    --rev-h3-margin-bottom: .15em;
    --rev-h4-font-weight: 700;
    --rev-h4-letter-spacing: -0.01em;
    --rev-h4-line-height: .9;
    --rev-h4-sm: 2.286rem;
    --rev-h4-margin-bottom: .15em;
    --rev-h5-font-weight: 600;
    --rev-h5-letter-spacing: -0.01em;
    --rev-h5-line-height: .95;
    --rev-h5-xs: 2.5rem;
    --rev-h5-margin-bottom: .25em;
    --rev-h6-font-weight: 600;
    --rev-h6-letter-spacing: -0.01em;
    --rev-h6-line-height: .9;
    --rev-h6-xxs: 1.543rem;
    --rev-h6-margin-bottom: .25em;
    --rev-half-size: 50%;
    --rev-headline-font-weight: 700;
    --rev-headline-font: 'Khand', 'Oswald', 'Impact', sans-serif;
    --rev-body-font-weight: 300;
    --rev-body-font: 'General Sans', 'Public Sans', 'Andale Mono', tahoma, sans-serif;





}

.counter, .dataTable.vertTable th, .displayFolder, .errorPage .errorContent, .font-bold, .nNote p, .progress-level, .tLight thead td, .ui-datepicker.ui-widget .ui-datepicker-header, .ui-datepicker.ui-widget th, b, strong {}


body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 100%;
    /* stylelint-disable-next-line */
    font-smooth: always;
    /* stylelint-disable-next-line */
    font-smoothing: antialiased;
    font-variant-ligatures: none;
    text-rendering: optimizelegibility;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    text-size-adjust: 100%;
}


h1 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h1-lg);
    font-weight: var(--rev-h1-font-weight);
    letter-spacing: var(--rev-h1-letter-spacing);
    line-height: var(--rev-h1-line-height);
    margin-bottom: var(--rev-h1-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance;
}

h2 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h2-md);
    font-weight: var(--rev-h2-font-weight);
    letter-spacing: var(--rev-h2-letter-spacing);
    line-height: var(--rev-h2-line-height);
    margin-bottom: var(--rev-h2-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance;
}

h3 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h3-base);
    font-weight: var(--rev-h3-font-weight);
    letter-spacing: var(--rev-h3-letter-spacing);
    line-height: var(--rev-h3-line-height);
    margin-bottom: var(--rev-h3-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance
}

h4,
.headline-sm,
.headline_h4,
.heading_h4 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h4-sm);
    font-weight: var(--rev-h4-font-weight);
    letter-spacing: var(--rev-4-letter-spacing);
    line-height: var(--rev-h4-line-height);
    margin-bottom: var(--rev-h4-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance
}

h5 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h5-xs);
    font-weight: var(--rev-h5-font-weight);
    letter-spacing: var(--rev-5-letter-spacing);
    line-height: var(--rev-h5-line-height);
    margin-bottom: var(--rev-h5-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance
}

h6 {
    font-family: var(--rev-headline-font);
    font-size: var(--rev-h6-xxs);
    font-weight: var(--rev-h6-font-weight);
    letter-spacing: var(--rev-6-letter-spacing);
    line-height: var(--rev-h6-line-height);
    margin-bottom: var(--rev-h6-margin-bottom);
    text-transform: uppercase;
    text-wrap: balance
}

#forms-form-wrapper {
    background-color: var(--frm-color-primary);
    padding: 19px;

    position: relative;
}



#forms-form-wrapper::before {
    content: '';
    position: absolute;
    inset: 7px;
    border: 7px solid var(--frm-color-secondary);
    border-radius: 5px;
}




.form-oscar .form-group {
    margin-bottom: 30px;
}





.card-header.forms-form-header {
    padding: 30px 0px 20px;
    margin: 0px 0px 20px;
    background-color: var(--frm-color-secondary);
}




.card .card-header.forms-form-header h6 {
    text-align: left;
    padding: 0px 40px;
    font-size: 50px;
    font-weight: 700;
    color: var(--frm-color-primary);
}

.form-group.ng-scope>label {
    font-size: 20px !important;
    font-weight: 700;
}



.form-group.ng-scope>.label-subtext {
    font-style: italic;
    margin: 0px;





}

.label-subtext {
    font-family: var(--rev-label-font);
    font-size: 16px !important;
    font-style: italic;
    font-weight: var(--rev-label-font-weight);
    letter-spacing: var(--rev-label-letter-spacing);
    line-height: var(--rev-label-line-height);
    margin: 0px;
    padding: var(--rev-label-padding-top) var(--rev-label-padding-bottom) var(--rev-label-line-left) var(--rev-label-line-right);
    text-transform: uppercase;
}




.form-group.ng-scope>.label-subtext>p {
    font-size: 16px !important;
    font-family: var(--rev-label-font);
    font-style: italic;
    font-weight: var(--rev-label-font-weight);
    letter-spacing: var(--rev-label-letter-spacing);
    line-height: var(--rev-label-line-height);
    margin: 0px;
    padding: var(--rev-label-padding-top) var(--rev-label-padding-bottom) var(--rev-label-line-left) var(--rev-label-line-right);
    text-transform: uppercase;
}




.label-subtext>p {
    margin: 0px;
    font-size: 16px !important;
    font-family: var(--rev-label-font);
    font-size: 16px !important;
    font-weight: var(--rev-label-font-weight);
    letter-spacing: var(--rev-label-letter-spacing);
    line-height: var(--rev-label-line-height);
    text-transform: uppercase;
    padding: var(--rev-label-padding-top) var(--rev-label-padding-bottom) var(--rev-label-line-left) var(--rev-label-line-right);
}



.file-upload-field-input {
    padding: 20px;
}



.btn-list>.btn-secondary {
    background-color: var(--frm-color-secondary) !important;
    color: var(--frm-color-primary);
}




.appointment-intake-form-wrapper {
    background-color: #fff !important;
}




.appointment-intake-form-field-block .btn.btn-primary {
    background-color: var(--frm-color-secondary) !important;
    color: var(--frm-color-primary);
}




.form-actions.btn-list .btn.btn-primary, .form-actions.btn-list span.tooltipBlock .btn.btn-primary {

    font-size: 18px !important;
    padding: 0px 20px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
    background-color: var(--frm-color-secondary) !important;
    color: var(--frm-color-primary);
}

.btn-info {
    background-color: var(--frm-color-secondary) !important;

    
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--frm-color-secondary);

}

input[type="submit"] {
    background-color: var(--rev-color-primary);
    border-radius: .15rem;
    border: none;
    box-shadow: var(--rev-shadow-sm);
    color: var(--rev-color-white);
    cursor: pointer;
    font-family: var(--rev-headline-font);
    font-weight: 700;
    line-height: 1;
    padding: .6em 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color var(--rev-transition), box-shadow var(--rev-transition), color var(--rev-transition), border-color var(--rev-transition);
}