    --core-colors--color-white: #fafafa;
    --_type---fonts--headline: Khand, Impact, sans-serif;
    --_space-size---headlines--h1-lg: 7.594rem;
    --_type---h1-headline--h1-font-weight: var(--_type---font-weights--bold);
    --_type---h1-headline--h1-letter-spacing: -.01em;
    --heading-font-color: var(--core-colors--core-blue);
    --core-colors--core-blue: #163666;
    --_space-size---headlines--h2-md: 5.37rem;
    --_type---h2-headline--h2-font-weight: var(--_type---font-weights--bold);
    --_type---h2-headline--h2-spacing: -.01em;
    --_type---h2--h2-line-height: .85;
    --_space-size---headlines--h3-base: 3.798rem;
    --_type---h3-headline--h3-font-weight: var(--_type---font-weights--bold);
    --_type---h3-headline--h3-letter-spacing: -.01em;
    --_type---base-headlines--line-height: .9;
    --_space-size---headlines--h4-sm: 2.686rem;
    --_type---h4-headline--h4-font-weight: var(--_type---font-weights--bold);
    --_type---h4-headline--h4-letter-spacing: -.025em;
    --_space-size---headlines--h5-xs: 1.9rem;
    --_type---h5-headline--h5-font-weight: var(--_type---font-weights--bold);
    --_type---h5-headline--h5-letter-spacing: 0em;
    --_space-size---headlines--h6-xxs: 1.343rem;
    --_type---h6-headline--h6-weight: var(--_type---font-weights--bold);
    --_type---h6-headline--h6-letter-spacing: 0em;
    --_type---fonts--base: "General Sans", Tahoma, sans-serif;
    --_type---base-type--font-size: var(--_space-size---text--t3-base);
    --_type---base-type--line-height-x1-5: 1.5;
    --_type---base-type--font-weight: var(--_type---font-weights--regular);
    --_space-size---text--t3-base: .95rem;
    --_buttons---labels--font: Khand, Impact, sans-serif;
    --_buttons---labels--line-height: 1;
    --_buttons---labels--font-weight: 700;
    --core-colors--color-bright-blue: #b2d3de;
    --_space-size---widths--max-width-xl: 1600px;
    --_space-size---page-padding--page-padding-v: var(--_space-size---spacing--3x);
    --_space-size---page-padding--page-padding-h: var(--_space-size---spacing--4x);
    --_space-size---spacing--2x: 2rem;
    --_space-size---spacing--1x: 1rem;

    --core-colors--color-green: #00a6b6;

    --_type---font-weights--regular: 400;
    --max-width_large: 50rem;
    --_type---h5-headline--h5-margin-bottom: .25em;
    --_type---font-weights--semibold: 600;
    --core-colors--color-dark-green: #047c97;
    --_type---base-type--margin-bottom: .5em;
    --_colors---font-color: var(--core-colors--core-blue);
    --core-colors--color-bright-white: white;
    --core-button-color--button-white: var(--core-colors--color-bright-white);
    --_space-size---text--t2-md: 1.064rem;
    --core-colors--color-blue-offset: #eff5f6;
    --_buttons---labels--padding-top: .25em;
    --_buttons---labels--padding-right: .3em;
    --_buttons---labels--padding-bottom: .15rem;
    --_buttons---labels--padding-left: .3em;
    --_space-size---text--t4-sm: .848rem;
    --_type---font-weights--bold: 700;
    --core-colors--color-bright-grey: #ababab;
    --core-button-color--button-purple: var(--core-colors--color-purple);
    --_type---h0-headline--h0-margin-bottom: 0em;
    --_space-size---headlines--h0-xl: 10.738rem;
    --_type---h0--line-height: .8;
    --_type---h1-headline--h1-margin-bottom: 0em;
    --_type---h2-headline--h2-margin-bottom: .15rem;
    --_type---h3-headline--h3-margin-bottom: .15em;
    --_type---h4-headline--h4-margin-bottom: .15em;
    --_type---h6-headline--h6-margin-bottom: 0em;
    --_cards---base-card--base-card-text-size: 1rem;
    --_space-size---spacing--1-5x: 1.5rem;
    --_buttons---core-button-color--btn-blue-bg: var(--core-button-color--core-button-color);
    --_type---sub-headlines--bottom-margin: .5em;
    --_type---fonts--subheadline: "General Sans", Tahoma, sans-serif;
    --_type---sub-headlines--linet-height: 1.33;
    --_type---sub-headlines--font-weight: var(--_type---font-weights--light);
    --_type---sub-headlines--letter-spacing: 0em;
    --_cards---small-card--sm-card-radius: .3rem;
    --_type---base-headlines--font-weight: var(--_type---font-weights--bold);
    --_type---fonts--logo: Barlow, Tahoma, sans-serif;
    --_type---fonts--blockquote-option: "Courier Prime", "Trebuchet MS", sans-serif;
    --_type---h4-headline--h4-line-height\<deleted\|variable-f108a747-8a80-ddbb-ad1e-79543e3892cf\>: var(--_space-size---headlines--h4-sm);
    --_type---text-lg--lg-text-line-height\<deleted\|variable-20616745-cfef-1f83-ff6c-48e33948d453\>: 1.1rem;
    --_cards---large-card--lg-card-radius: .75rem;
    --_space-size---text--t0-xl: 1.335rem;
    --_space-size---text--t1-lg: 1.192rem;
    --_type---base-type--letter-spacing: -.0025em;
    --core-colors--color-purple: #8e456a;
    --core-colors--color-bright-green: #71c9c5;
    --core-colors--color-red: #e05047;
    --core-colors--color-orange: #f37d59;
    --core-colors--color-yellow: #faca78;
    --core-colors--color-grey: #575757;
    --core-colors--color-dark-grey: #2e2e2e;
    --_space-size-2---gap--xs-gap\<deleted\|variable-6c4187ba-f84c-731b-bdd4-2c2bd040a7ce\>: var(--_space-size-2---spacing--1x\<deleted\|variable-94544cdd-b5ec-5c36-1a6d-27dd96a42998\>);
    --_colors-2---backgrounds--bg-blue\<deleted\|variable-f3b7b993-5b78-894a-6076-2835ca8f8676\>: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-62459221-7920-a528-c555-6c7d086b6a7f\>);
    --_colors-2---text--text-white\<deleted\|variable-cae8b5d8-8a3e-0f7a-aa36-c925a053dbf0\>: var(--_core-2---core-colors--white\<deleted\|variable-9ff58413-c126-0aeb-f9d9-fe36c5731e50\>);
    --_cards-2---base-card--base-card-padding-v\<deleted\|variable-6e418857-c626-fa9f-abc5-2367b0c29efd\>: var(--_space-size-2---spacing--3x\<deleted\|variable-d92549bc-4de1-d7bf-06b4-f6f50a664d19\>);
    --_cards-2---base-card--base-card-padding-h\<deleted\|variable-05eddac4-3cd0-615e-324d-a7f4d07cee25\>: var(--_space-size-2---spacing--3x\<deleted\|variable-d92549bc-4de1-d7bf-06b4-f6f50a664d19\>);
    --_cards---base-card--base-card-border-width: 5px;
    --_cards---base-card--base-card-radius: .85rem;
    --_buttons---all-buttons--btn-radius: .35rem;
    --_space-size---gap--xs-gap: var(--_space-size---spacing--1x);
    --_cards---dark-card--dark-card-border-color: var(--core-colors--core-blue);
    --_cards---dark-card--dark-card-bg: var(--core-colors--core-blue);
    --_cards---dark-card--dark-card-text-color: var(--core-colors--color-white);
    --_cards---grey-card--grey-card-border-color: #ababab59;
    --_cards---grey-card--grey-card-bg: var(--core-colors--color-grey);
    --_cards---grey-card--grey-card-text-color: var(--core-colors--core-blue);
    --_cards---light-card--light-card-text-color: var(--core-colors--core-blue);
    --_cards---light-card--light-card-border-color-inverse: var(--core-colors--color-white);
    --_cards---light-card--light-card-bg-inverse: var(--core-colors--core-blue);
    --_cards-2---dark-card--dark-card-bg-hover-dim\<deleted\|variable-3ccf45d2-4ddc-7e14-fad0-fd89ef9cb71c\>: var(--_shades-2---shades-blue--blue-d400\<deleted\|variable-e72ceb37-4382-fd94-27bb-e49b685cc48a\>);
    --_cards---dark-card--dark-card-border-color-inverse: var(--core-colors--core-blue);
    --_cards---dark-card--dark-card-bg-inverse: var(--core-colors--color-white);
    --_cards---grey-card--grey-card-border-color-dim: color-mix(in srgb, var(--_cards---grey-card--grey-card-border-color) 90%, black);
    --_cards---grey-card--grey-card-bg-dim: color-mix(in srgb, black 2%, var(--_cards-2---light-card--light-card-bg\<deleted\|variable-9a454ea9-e398-022b-d1a9-c6601be6717b\>));
    --_cards---grey-card--grey-card-text-color-inverse-dim: color-mix(in srgb, black 2%, var(--_cards---grey-card--grey-card-text-color-inverse));
    --_cards---grey-card--grey-card-bg-inverse: var(--core-colors--color-grey);
    --_cards---grey-card--grey-card-text-color-inverse: var(--core-colors--color-white);
    --_cards-2---light-card--light-card-text-color\<deleted\|variable-306ae1ff-ee2b-0c88-bf73-a05c77dcd029\>: var(--_colors-2---text--text-blue\<deleted\|variable-a507b58f-c11a-9188-8305-e054e152badf\>);
    --_cards-2---dark-card--card-border-color\<deleted\|variable-eca8ecb8-2481-4b14-f630-1f2ecce66f74\>: var(--_colors-2---border-colors--border-blue\<deleted\|variable-0decd458-7e60-5477-3130-03b5e7b5a4ee\>);
    --_cards-2---dark-card--dark-card-bg\<deleted\|variable-b4d2427a-f33a-057f-6ce7-3ecda0395a6f\>: var(--_colors-2---backgrounds--bg-blue\<deleted\|variable-f3b7b993-5b78-894a-6076-2835ca8f8676\>);
    --_shades---shades-blue--blue-l300: color-mix(in srgb, var(--core-colors--core-blue) 70%, white 30%);
    --_buttons---all-buttons--btn-font: Khand, Impact, sans-serif;
    --_buttons---base-buttons--btn-font-weight: 700;
    --_buttons-2---base-buttons--btn-text-size\<deleted\|variable-f854a320-0633-44a6-2689-59123b17da1b\>: 1rem;
    --_type---h6-headline--h6-line-height\<deleted\|variable-9719ac5d-f136-d757-9392-9906c8325b87\>: 2.5rem;
    --_type---base-type--line-height-x1: 1;
    --_buttons---base-buttons--btn-padding-top: 1.25rem;
    --_buttons---base-buttons--btn-padding-right: 1.5rem;
    --_buttons---base-buttons--btn-padding-bottom: 1.25rem;
    --_buttons---base-buttons--btn-padding-left: 1.5rem;
    --_buttons---all-buttons--btn-border-width: 4px;
    --_buttons---core-button-color--btn-blue-border: var(--core-button-color--core-button-color);
    --_buttons---core-button-color--btn-blue-text: var(--core-button-color--core-button-inverse-color);
    --_buttons---base-buttons--btn-font-size: 1rem;
    --_buttons---all-buttons--btn-line-height: 1;
    --_buttons---all-buttons--btn-text-spacing: .05em;
    --_buttons---button-states--btn-disabled-color: var(--_colors---actions--color-disabled);
    --_buttons---button-states--btn-alert-color: var(--_colors---actions--color-alert);
    --_buttons---button-white--btn-white-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-white--btn-white-bg) 90%, black);
    --_buttons---button-white--btn-white-bg: #fafafa;
    --_buttons---button-white--btn-white-text: #163666;
    --_buttons---button-white--btn-white-border: #fafafa;
    --_buttons---button-color-1--btn-purple-border: var(--core-colors--color-purple);
    --_buttons---button-color-1--btn-purple-bg: var(--core-colors--color-purple);
    --_buttons---button-color-1--btn-purple-text: var(--core-colors--color-bright-white);
    --_buttons---button-color-1--btn-purple-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-color-1--btn-purple-bg) 90%, black);
    --_buttons---button-green--btn-green-border: var(--core-colors--color-green);
    --_buttons---button-green--btn-green-bg: var(--core-colors--color-green);
    --_buttons---button-green--btn-green-text: var(--core-colors--color-bright-white);
    --_buttons---button-yellow--btn-yellow-border: var(--core-colors--color-yellow);
    --_buttons---button-yellow--btn-yellow-bg: var(--core-colors--color-yellow);
    --_buttons---button-yellow--btn-yellow-text: var(--core-colors--color-bright-white);
    --_buttons---core-button-color--btn-blue-border-hover-dim: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 90%, black);
    --_buttons---core-button-color--btn-blue-bg-hover-dim: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 90%, black);
    --_buttons---button-states--btn-disabled-color-hover: color-mix(in srgb, var(--_buttons---button-states--btn-disabled-color) 90%, black);
    --_buttons---button-states--btn-alert-color-hover: color-mix(in srgb, var(--_buttons---button-states--btn-alert-color) 90%, black);
    --_buttons---button-white--btn-white-border-hover-dim: color-mix(in srgb, var(--_buttons---button-white--btn-white-border) 90%, black);
    --_buttons---button-color-1--btn-purple-border-hover-dim: color-mix(in srgb, var(--_buttons---button-color-1--btn-purple-border) 90%, black);
    --_buttons---button-green--btn-green-border-hover-dim: color-mix(in srgb, var(--_buttons---button-green--btn-green-border) 90%, black);
    --_buttons---button-green--btn-green-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-green--btn-green-bg) 90%, black);
    --_buttons---button-yellow--btn-yellow-border-hover-dim: color-mix(in srgb, var(--_buttons---button-yellow--btn-yellow-border) 90%, black);
    --_buttons---button-yellow--btn-yellow-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-yellow--btn-yellow-bg) 90%, black);
    --_buttons---large-buttons--lg-btn-padding-top: 1.75rem;
    --_buttons---large-buttons--lg-btn-padding-right: 1.75rem;
    --_buttons---large-buttons--lg-btn-padding-bottom: 1.75rem;
    --_buttons---large-buttons--lg-btn-padding-left: 1.75rem;
    --_buttons---large-buttons--lg-btn-border-width: 4px;
    --_buttons---small-buttons--sm-btn-padding-top: 1rem;
    --_buttons---small-buttons--sm-btn-padding-right: 1.25rem;
    --_buttons---small-buttons--sm-btn-padding-bottom: 1rem;
    --_buttons---small-buttons--sm-btn-padding-left: 1.25rem;
    --_buttons---small-buttons--sm-btn-text-size: .85rem;
    --_buttons---button-bright-blue--btn-bright-blue-bg: var(--core-colors--color-bright-blue);
    --_buttons---button-bright-blue--btn-bright-blue-text: var(--core-colors--color-bright-white);
    --_buttons---button-bright-blue--btn-bright-blue-border-hover-dim: color-mix(in srgb, var(--_buttons---button-bright-blue--btn-bright-blue-border) 90%, black);
    --_buttons---button-bright-blue--btn-bright-blue-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-bright-blue--btn-bright-blue-bg) 90%, black);
    --_core-2---core-colors--dark-grey\<deleted\|variable-ba000f2b-1cc5-746c-c294-2e76ad3dd256\>: #2e2e2e;
    --_colors-2---core-colors--transparent\<deleted\|variable-624491f9-0d52-4b00-1ef9-186725a050f2\>: #0000;
    --_buttons-2---core-button-color--btn-blue-border-hover-dim\<deleted\|variable-f293a1e2-e632-5b0e-5613-0fb1fb462aa1\>: color-mix(in srgb, var(--_shades-2---shades-blue--corecolor\<deleted\|variable-6b9e266a-4891-751b-56ae-92a44eae5811\>) 90%, black);
    --_buttons-2---core-button-color--btn-blue-bg-hover-dim\<deleted\|variable-78c44310-4679-911b-d0bd-72f7f7f2da1b\>: color-mix(in srgb, var(--_shades-2---shades-blue--corecolor\<deleted\|variable-6b9e266a-4891-751b-56ae-92a44eae5811\>) 90%, black);
    --_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>: var(--_colors-2---backgrounds--bg-green\<deleted\|variable-b268fbaf-3342-2c44-deed-7d5117d9a304\>);
    --_buttons-2---button-green--btn-green-bg-hover-dim\<deleted\|variable-c58ebced-3331-6f35-4501-713b9b5e9071\>: color-mix(in srgb, var(--_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>) 90%, black);
    --_buttons-2---button-green--btn-green-border-hover-dim\<deleted\|variable-091c5c05-dff2-120f-c8ec-3f752a2e3c3e\>: color-mix(in srgb, var(--_buttons-2---button-green--btn-green-border\<deleted\|variable-afc61bc2-0d9b-f3a3-6b5f-50c4961b333d\>) 90%, black);
    --_buttons-2---button-grey--button-white--btn-grey-border-hover-dim\<deleted\|variable-6ff18042-892e-033b-c3d4-bc5c8391ece7\>: color-mix(in srgb, var(--_buttons-2---button-grey--button-white--btngrey-border\<deleted\|variable-b1d4643a-e40e-69fe-fdbc-e90b8f3051d6\>) 90%, black);
    --_buttons-2---button-grey--button-white--btn-grey-bg-hover-dim\<deleted\|variable-ee97c42f-ad95-e0a2-b811-a21c8e080cba\>: color-mix(in srgb, var(--_buttons-2---button-grey--button-white--btngrey-bg\<deleted\|variable-4f70f171-c4a1-ba95-2fd9-51e99f4df879\>) 90%, black);
    --_buttons-2---button-grey--button-white--btngrey-border\<deleted\|variable-b1d4643a-e40e-69fe-fdbc-e90b8f3051d6\>: var(--_colors-2---border-colors--border-grey\<deleted\|variable-c1e7f5ba-27c7-79a4-1971-eb1fdc06e5b0\>);
    --_buttons-2---button-grey--button-white--btngrey-bg\<deleted\|variable-4f70f171-c4a1-ba95-2fd9-51e99f4df879\>: var(--_colors-2---backgrounds--bg-grey\<deleted\|variable-fb1048a3-93a0-eacb-f757-10e46336ab24\>);
    --_forms---input-border-width: 2px;
    --input-form-radius: .25rem;
    --_forms---core-inputs--input-font: "General Sans", Tahoma, sans-serif;
    --_colors---text--text-placeholder\<deleted\|variable-3d563729-66a7-3179-50a7-681d2ed61b5a\>: var(--_colors---text--text-brightgrey\<deleted\|variable-6ddc3331-63d3-034b-2f84-098b850074cf\>);
    --_forms---input-placeholder-text-size: .85rem;
    --label-text-size: 1rem;
    --_buttons---labels--letter-spacing: .05rem;
    --_shades---shades-red--red-d200: color-mix(in srgb, var(--core-colors--color-red) 80%, black 20%);
    --_shades-2---shades-red--red-d200\<deleted\|variable-4d6c06d3-5e75-91b4-b25b-867dcfdce446\>: #d74b4b;
    --_buttons---large-buttons--lg-btn-text-size: 1.15rem;
    --_buttons---labels--font-size-lg\<deleted\|variable-c391742b-32a4-ba8c-7870-9012b14edf55\>: var(--_space-size---text--t1-lg);
    --_type---font-weights--light: 300;
    --_type---font-weights--medium: 500;
    --_base-2---colors--green\<deleted\|variable-a81be4bd-7d8f-cc46-5923-5c102e6608de\>: #5b8aa0;
    --_base-2---colors--white\<deleted\|variable-00905a82-c942-2011-5241-1920d87902c4\>: white;
    --_type---fonts--emphasis: "Fira Code", Georgia, sans-serif;
    --_forms---core-inputs--input-padding-vertical: 2rem;
    --_forms---core-inputs--input-padding-horizontal: 2rem;
    --_forms---input-text-size: 1rem;
    --_base-2---colors--light-blue\<deleted\|variable-17aec9f8-b740-e47b-1b7b-3e26088a4242\>: #b2d3de;
    --_base-2---colors--blue\<deleted\|variable-446cd304-dba7-9ef9-ca11-e2c678c3f5dd\>: #1c437f;
    --_base-2---headlines--headline_4rem\<deleted\|variable-ac46dac0-1f84-46f2-3395-d0bd08c31292\>: 4rem;
    --_base-2---colors--red\<deleted\|variable-a34542a1-77b5-9ae2-e0d3-5d075e90bcf9\>: #ef5353;
    --_shades---shades-brightblue--brightblue-l200: color-mix(in srgb, var(--_shades---shades-brightblue--base-brightblue) 80%, white 20%);
    --_type-2---fonts--font-headlines\<deleted\|variable-6fd9ce21-7bb5-6a33-da72-50fe0d0d056a\>: Khand, Impact, sans-serif;
    --_core-2---headlines--h4\<deleted\|variable-cb601eb5-c4eb-dcfe-37b2-34651287f7fc\>: 2.5rem;
    --_type-2---h3-headline--h3-weight-201\<deleted\|variable-d6b6d46d-df1e-0c9a-35c9-1f19f3637ee0\>: var(--_type-2---text-weights--text-bold\<deleted\|variable-b6745289-328c-658d-49f1-2c721c17f811\>);
    --_core-2---image-radius\<deleted\|variable-4ba861ed-5fc2-b59e-7a10-3e4964d6ee5b\>: .25rem;
    --_type-2---subheadlines--subheadline-text-size\<deleted\|variable-5f47d3f1-d30c-d11e-515f-2073b99b132a\>: 1.15rem;
    --_core-2---subheadlines--subheadline-text-height\<deleted\|variable-235559b1-abbc-b97f-3155-2a9498b10562\>: 1.6;
    --_shades---shades-blue--blue-l200: color-mix(in srgb, var(--core-colors--core-blue) 80%, white 20%);
    --_type-2---eyebrows--eyebrow-size\<deleted\|variable-71d95c1f-3f4f-8c7c-c41e-ccf543b13eea\>: .95rem;
    --_type-2---eyebrows--eyebrow-line-height\<deleted\|variable-e678adc1-0a5a-cf78-1330-dac9c6d5ab5d\>: 1.3em;
    --_core-2---eyebrow-letter-spacing\<deleted\|variable-2c408a9c-97a2-1999-befb-12ba68c8cf0c\>: .1em;
    --_base-2---text--color-blue\<deleted\|variable-59d22fdd-3ce9-c626-e2f6-3cd391f20322\>: var(--_base-2---colors--blue\<deleted\|variable-446cd304-dba7-9ef9-ca11-e2c678c3f5dd\>);
    --_base-2---text--color-light-blue\<deleted\|variable-f4d17650-2878-3e6f-b3dc-fadcda669d3c\>: var(--_base-2---colors--light-blue\<deleted\|variable-17aec9f8-b740-e47b-1b7b-3e26088a4242\>);
    --_base-2---headlines--headlines-font\<deleted\|variable-9fe3196a-178f-fb82-2051-a5d4b3c6929f\>: var(--_base-2---fonts--font-khand\<deleted\|variable-17c49927-bc87-651d-1dc5-9a26cd502064\>);
    --_base-2---cards--card-blue_outter-shadow-blue\<deleted\|variable-12c87435-4343-49f4-7300-8a22ba60e755\>: #091b3630;
    --_base-2---cards--card-border-radius\<deleted\|variable-0a5c1053-954c-a16a-fdaf-8cc527586649\>: .5rem;
    --_base-2---cards_large-border-radius\<deleted\|variable-4c138219-46bc-7c23-3b87-f75851be9747\>: 5px;
    --_base-2---labels--label-border-radius\<deleted\|variable-e3b5dbd7-0b10-b765-4628-5f51e8596c91\>: 2px;
    --_base-2---labels--label-font\<deleted\|variable-ed23c20b-2dd1-b467-a9fd-7a9772dbd9f2\>: var(--_base-2---fonts--font-khand\<deleted\|variable-17c49927-bc87-651d-1dc5-9a26cd502064\>);
    --_base-2---color\<deleted\|variable-0ec5d5fb-f62d-56f7-6e65-b624a64e92af\>: white;
    --_base-2---text--text-size-s\<deleted\|variable-d3305137-61cc-718c-e3bb-f6466b987c1f\>: .85rem;
    --_base-2---fonts--font-callout\<deleted\|variable-226e913d-6276-f7a4-b27c-038da45a1bac\>: var(--_base-2---fonts--font-fira-code\<deleted\|variable-c08c3ce2-22b5-bd46-a33a-a03af6f75da2\>);
    --_base-2---labels--label-text-size-s\<deleted\|variable-b7bc7ba6-3084-26fb-93f7-449df6388948\>: .75rem;
    --_base-2---headlines--headline_2rem\<deleted\|variable-a89925fc-e608-e03f-1fed-07e62304136d\>: 2rem;
    --_base-2---fonts--font-emoji\<deleted\|variable-6388630f-b1d2-28f7-e6e8-04be02999e4e\>: "Noto Emoji", Arial, sans-serif;
    --_base-2---headlines--sub-headlines-font\<deleted\|variable-b491948a-cbbb-396f-0142-ab2224f52622\>: var(--_base-2---headlines--headlines-font\<deleted\|variable-9fe3196a-178f-fb82-2051-a5d4b3c6929f\>);
    --_base-2---text--text-size-l\<deleted\|variable-69025c06-e09f-e72f-c888-a56ea7fdca01\>: 1.2rem;
    --_base-2---text--color-white\<deleted\|variable-ca544bc7-17f5-5396-3fb4-0d4f6f49f7e3\>: var(--_base-2---colors--white\<deleted\|variable-00905a82-c942-2011-5241-1920d87902c4\>);
    --_base-2---labels--label-padding-top\<deleted\|variable-643fe55c-9762-a42e-b871-2ce5758e93e9\>: 5px;
    --_base-2---labels--label-padding-right\<deleted\|variable-e0c39abc-fd2f-8d96-c0e6-011f7b562a76\>: var(--_base-2---labels--label-padding-left\<deleted\|variable-02171573-04eb-b242-fdba-8458c77bd3ae\>);
    --_base-2---labels--label-padding-bottom\<deleted\|variable-3827c1d9-5ea0-a6fc-351b-84acc6750d65\>: 3px;
    --_base-2---labels--label-padding-left\<deleted\|variable-02171573-04eb-b242-fdba-8458c77bd3ae\>: 7px;
    --_base-2---background--bg-light\<deleted\|variable-14cbc475-ef2f-5071-cdc9-d90d5f68edbd\>: var(--_base-2---colors--white\<deleted\|variable-00905a82-c942-2011-5241-1920d87902c4\>);
    --_base-2---labels--label-text-size\<deleted\|variable-3e946e45-9ba5-3086-8069-76307ae0719f\>: var(--_base-2---text--text-size\<deleted\|variable-a683906f-69c7-185d-c16a-d4fa1ed0b0bd\>);
    --_type---fonts--base-option: Inter, Arial, sans-serif;
    --_type---fonts--blockquote: Pacifico, "Trebuchet MS", sans-serif;
    --_cards-2---light-card--light-card-bg-hover-inverse\<deleted\|variable-046b750c-9c14-b004-ef90-0161e3b4fa66\>: var(--_colors-2---backgrounds--bg-blue\<deleted\|variable-13272c95-dabb-25de-d18e-cfac21c4b7a4\>);
    --_cards-2---base-card--base-card-radius\<deleted\|variable-e3242c34-2048-107b-6b15-f4b7b7739675\>: .3rem;
    --_cards-2---light-card--light-card-bg\<deleted\|variable-70b8bba9-e710-9774-72ab-1c1326d09ed9\>: var(--_core-2---core-colors--bright-white\<deleted\|variable-8b46cec3-a133-22de-a2ba-c92414029514\>);
    --_buttons---small-buttons--sm-btn-border-width: 3px;
    --_base-2---colors--purple\<deleted\|variable-2457bd29-a75d-a313-2b55-b1965773c9db\>: #5e688d;
    --_base-2---colors--dark-orange\<deleted\|variable-f725eafd-f2f1-d46a-f3e8-e8196cae6641\>: #e4782e;
    --_base-2---colors--orange\<deleted\|variable-c16b6a8b-bbb2-490d-4fb5-48206b4f42ba\>: #f08d19;
    --_base-2---colors--yellow\<deleted\|variable-9fe7efaa-17c5-0e1c-86d5-6510397943ee\>: #fad644;
    --_base-2---dim-grey\<deleted\|variable-0db1b351-591a-072a-1900-aa140c774611\>: #575757;
    --_space-size---gap--xxs-gap: var(--_space-size---spacing--0-5x);
    --_type---h0-headline--h0-line-height\<deleted\|variable-091d3347-dc50-beeb-8e1d-0a7cad40937a\>: 0px;
    --_type---h0-headline--h0-font-weight: var(--_type---font-weights--bold);
    --core-button-color--core-button-color: var(--core-colors--core-blue);
    --_type---font-weights--extra-light: 200;
    --_space-size---text--t5-xs: .757rem;
    --_space-size---text--t6-xxs: .676rem;
    --_space-size---spacing--0-5x: .5rem;
    --_space-size---spacing--3x: 3rem;
    --_space-size---spacing--4x: 4rem;
    --_space-size---spacing--5x: 5rem;
    --_space-size---spacing--6x: 6rem;
    --_buttons---tags--tag-padding-top: .25rem;
    --_buttons---tags--tag-padding-h: .4rem;
    --_buttons---tag-font: Khand, Impact, sans-serif;
    --_buttons---tags--line-height: 1;
    --_buttons---tag-font-weight: 700;
    --tags--tag-padding-bottom: .25rem;
    --_space-size---spacing--8x: 8rem;
    --_type---eyebrows--font: "Fira Code", Georgia, sans-serif;
    --_type---eyebrows--font-size: .95rem;
    --_type---eyebrows--font-weight: 400;
    --_space-size---divider-width: 3px;
    --_cards-2---small-card--sm-card-padding-h\<deleted\|variable-2f101f72-ec34-7a3e-1a99-10d549f7ecac\>: var(--_space-size-2---spacing--2x\<deleted\|variable-c3571319-0ef7-3008-25b4-cee6085199f3\>);
    --_cards---light-card--light-card-border-color: var(--core-colors--core-blue);
    --_cards---light-card--light-card-bg: var(--core-colors--color-bright-white);
    --_cards---light-card--light-card-border-color-dim: var(--_shades---shades-blue--blue-l200);
    --_cards---light-card--light-card-bg-dim: color-mix(in srgb, black 2%, var(--_cards-2---light-card--light-card-bg\<deleted\|variable-9a454ea9-e398-022b-d1a9-c6601be6717b\>));
    --_cards-2---light-card--light-card-text-color-hover\<deleted\|variable-c2874205-ffa1-d76b-518d-ae957e4d71cf\>: var(--_shades-2---shades-blue--blue-l200\<deleted\|variable-66c98905-f580-2b22-d476-b878f31a9f80\>);
    --_space-size---container--container-lg-width: 1440px;
    --_space-size---container--container-md-width: 1200px;
    --_type---font-weights--extra-bold: 800;
    --_colors---text--text-white\<deleted\|variable-f0b11955-a4dc-ce61-97f4-b902ff58b40e\>: var(--core-colors--color-white);
    --_buttons---labels--font-size-sm\<deleted\|variable-82cc0013-817b-69ac-b596-f5cc201813c3\>: var(--_space-size---text--t4-sm);
    --_buttons---labels--line-height\<deleted\|variable-60a8fdc9-151d-436a-dbed-2d3326bd357b\>: .5em;
    --_type---sub-headline-font-color: #1c437f;
    --_space-size---sub-headlines--s3-base: 1.343rem;
    --_space-size---sub-headlines--s4-sm: 1.199rem;
    --_space-size---sub-headlines--s5-xs: 1.071rem;
    --_space-size---sub-headlines--s6-xxs: .956rem;
    --_space-size---sub-headlines--s1-lg: 2.686rem;
    --_space-size---sub-headlines--s0-xl: 3.798rem;
    --_type---h0-headline--h0-letter-spacing: -.01em;
    --_buttons---small-buttons--sm-btn-radius: .3rem;
    --_buttons---large-buttons--lg-btn-radius: .4rem;
    --_type---font-weights--black: 900;
    --_space-size---gap--md-gap: var(--_space-size---spacing--3x);
    --_buttons---tags--font-size: var(--_type---base-type--font-size);
    --_shades---shades-blue--blue-l100: color-mix(in srgb, var(--core-colors--core-blue) 90%, white 10%);
    --_cards---text-item-padding: 2%;
    --_cards---small-card--sm-card-border-width: 4px;
    --_shades---shades-blue--blue-l400: color-mix(in srgb, var(--core-colors--core-blue) 60%, white 40%);
    --image-radius: .25rem;
    --_type---blockquotes--blockquote-text-size: 2rem;
    --_colors---socials--email: var(--core-colors--core-blue);
    --_colors---socials--youtube: var(--_shades---shades-red--red-d300);
    --_colors---socials--github: var(--core-colors--color-grey);
    --_colors---socials--instagram: var(--core-colors--color-red);
    --_type---base-headlines--letter-spacing: -.0625rem;
    --_forms---core-inputs--input-font-weight: 400;
    --_forms---core-inputs--input-border-radius: .25rem;
    --_cards---base-card--base-card-padding-v: var(--_space-size---spacing--3x);
    --_cards---base-card--base-card-padding-h: var(--_space-size---spacing--3x);
    --_space-size---sub-headlines--s2-md: 1.899rem;
    --_cards---small-card--sm-card-text-size: 1rem;
    --_cards---small-card--sm-card-text-weight: var(--_type---font-weights--regular);
    --_cards---small-card--sm-card-text-weight-hover: var(--_type---font-weights--regular);
    --_cards---small-card--sm-card-padding-v: var(--_space-size---spacing--2x);
    --core-button-color--core-button-inverse-color: var(--core-colors--color-bright-white);
    --_forms---core-inputs--input-control: #fff;
    --_cards---small-card--sm-card-padding-h: var(--_space-size---spacing--2x);
    --_forms---core-inputs--input-control-border: white;
    --_space-size---widths--max-width-xxl: 1820px;
    --_cards---large-card--lg-card-text-size: 1rem;
    --_cards---large-card--lg-card-text-weight: var(--_type---font-weights--regular);
    --_forms---forms--form-border-dark: var(--core-colors--core-blue);
    --_cards---large-card--lg-card-text-weight-hover: var(--_type---font-weights--regular);
    --_cards---large-card--lg-card-padding-v: var(--_space-size---spacing--5x);
    --blue-divider-color: #1c437f7d;
    --_forms---forms--form-border-light: var(--core-colors--core-blue);
    --_cards---large-card--lg-card-padding-h: var(--_space-size---spacing--5x);
    --_forms---forms--text-color-dark: white;
    --_cards---large-card--lg-card-border-width: 4rem;
    --_forms---forms--focused-border-color-light: #fff;
    --_type---fonts--code: "Fira Code", Georgia, sans-serif;
    --_type---fonts--emoji: "Noto Emoji", Arial, sans-serif;
    --_space-size---widths--max-width-lg: 1440px;
    --_space-size---widths--max-width-md: 1280px;
    --_space-size---widths--max-width-sm: 900px;
    --_space-size---widths--max-width-xs: 340px;
    --_space-size---widths--full-width: 100%;
    --_space-size---widths--3-quarters-size: 75%;
    --_space-size---widths--max-size-xs: 60%;
    --_space-size---widths--half-size: 50%;
    --_space-size---widths--quarter-size: 25%;
    --_colors---core-colors--transparent: #0000;
    --_space-size---widths--max-rem-md: 40rem;
    --_space-size---container--container-xl-width: 1600px;
    --_shades---shades-blue--core-blue: var(--core-colors--core-blue);
    --_shades---shades-blue--blue-d100: color-mix(in srgb, var(--core-colors--core-blue) 90%, black 10%);
    --_shades---shades-blue--blue-d200: color-mix(in srgb, var(--core-colors--core-blue) 80%, black 20%);
    --_shades---shades-blue--blue-d300: color-mix(in srgb, var(--core-colors--core-blue) 70%, black 30%);
    --_shades---shades-blue--blue-d400: color-mix(in srgb, var(--core-colors--core-blue) 60%, black 40%);
    --_shades---shades-blue--corecolor-l400: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 65.61%, white);
    --_shades---shades-blue--corecolor-l300: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 72.9%, white);
    --_shades---shades-blue--corecolor-l200: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 81%, white);
    --_shades---shades-blue--corecolor-l100: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 90%, white);
    --_shades---shades-blue--corecolor: var(--core-colors--core-blue);
    --_shades---shades-blue--corecolor-d100: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 90%, black);
    --_shades---shades-blue--corecolor-d200: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 81%, black);
    --_shades---shades-blue--corecolor-d300: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 72.9%, black);
    --_shades---shades-blue--corecolor-d400: color-mix(in srgb, var(--_shades---shades-blue--corecolor) 65.61%, black);
    --_shades---shades-purple--purple-l400: color-mix(in srgb, var(--core-colors--color-purple) 60%, white 40%);
    --_shades---shades-purple--purple-l300: color-mix(in srgb, var(--core-colors--color-purple) 70%, white 30%);
    --_shades---shades-purple--purple-l200: color-mix(in srgb, var(--core-colors--color-purple) 80%, white 20%);
    --_shades---shades-purple--purple-l100: color-mix(in srgb, var(--core-colors--color-purple) 90%, white 10%);
    --_shades---shades-purple--core-purple: var(--core-colors--color-purple);
    --_shades---shades-purple--purple-d100: color-mix(in srgb, var(--core-colors--color-purple) 90%, black 10%);
    --_shades---shades-purple--purple-d200: color-mix(in srgb, var(--core-colors--color-purple) 80%, black 20%);
    --_shades---shades-purple--purple-d300: color-mix(in srgb, var(--core-colors--color-purple) 70%, black 30%);
    --_shades---shades-purple--purple-d400: color-mix(in srgb, var(--core-colors--color-purple) 60%, black 40%);
    --_shades---shades-green--green-l400: color-mix(in srgb, var(--core-colors--color-green) 60%, white 40%);
    --_shades---shades-green--green-l300: color-mix(in srgb, var(--core-colors--color-green) 70%, white 30%);
    --_shades---shades-green--green-l200: color-mix(in srgb, var(--core-colors--color-green) 80%, white 20%);
    --_shades---shades-green--green-l100: color-mix(in srgb, var(--core-colors--color-green) 90%, white 10%);
    --_shades---shades-green--base-green: var(--core-colors--color-green);
    --_shades---shades-green--green-d100: color-mix(in srgb, var(--core-colors--color-green) 80%, black 20%);
    --_shades---shades-green--green-d200: color-mix(in srgb, var(--core-colors--color-green) 80%, black 20%);
    --_shades---shades-green--green-d300: color-mix(in srgb, var(--core-colors--color-green) 70%, black 30%);
    --_shades---shades-green--green-d400: color-mix(in srgb, var(--core-colors--color-green) 60%, black 40%);
    --_shades---shades-brightblue--brightblue-l100: color-mix(in srgb, var(--_shades---shades-brightblue--base-brightblue) 90%, white 10%);
    --_shades---shades-brightblue--base-brightblue: var(--core-colors--color-bright-blue);
    --_shades---shades-brightblue--brightblue-d100: color-mix(in srgb, var(--_shades---shades-brightblue--base-brightblue) 90%, black 10%);
    --_shades---shades-brightblue--brightblue-d200: color-mix(in srgb, var(--_shades---shades-brightblue--base-brightblue) 80%, black 20%);
    --_shades---shades-red--red-l400: color-mix(in srgb, var(--core-colors--color-red) 60%, white 40%);
    --_shades---shades-red--red-l300: color-mix(in srgb, var(--core-colors--color-red) 70%, white 30%);
    --_shades---shades-red--red-l200: color-mix(in srgb, var(--core-colors--color-red) 80%, white 20%);
    --_shades---shades-red--red-l100: color-mix(in srgb, var(--core-colors--color-red) 90%, white 10%);
    --_shades---shades-red--base-red: var(--core-colors--color-red);
    --_shades---shades-red--red-d100: color-mix(in srgb, var(--core-colors--color-red) 90%, black 10%);
    --_shades---shades-red--red-d300: color-mix(in srgb, var(--core-colors--color-red) 70%, black 30%);
    --_shades---shades-red--red-d400: color-mix(in srgb, var(--core-colors--color-red) 60%, black 40%);
    --_shades---shades-orange--orange-l300: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 70%, white 30%);
    --_shades---shades-orange--orange-l200: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 80%, white 20%);
    --_shades---shades-orange--orange-l100: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 90%, white 10%);
    --_shades---shades-orange--core-orange: var(--core-colors--color-orange);
    --_shades---shades-orange--orange-d100: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 90%, black 10%);
    --_shades---shades-orange--orange-d200: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 80%, black 20%);
    --_shades---shades-orange--orange-d300: color-mix(in srgb, var(--_shades---shades-orange--core-orange) 70%, black 30%);
    --_shades---shades-yellow--yellow-l400: color-mix(in srgb, var(--core-colors--color-yellow) 60%, white 40%);
    --_shades---shades-yellow--yellow-l300: color-mix(in srgb, var(--core-colors--color-yellow) 70%, white 30%);
    --_shades---shades-yellow--yellow-l200: color-mix(in srgb, var(--core-colors--color-yellow) 80%, white 20%);
    --_shades---shades-yellow--yellow-l100: color-mix(in srgb, var(--core-colors--color-yellow) 90%, white 10%);
    --_shades---shades-yellow--core-yellow: var(--core-colors--color-yellow);
    --_shades---shades-yellow--yellow-d100: color-mix(in srgb, var(--core-colors--color-yellow) 90%, black 10%);
    --_shades---shades-yellow--yellow-d200: color-mix(in srgb, var(--core-colors--color-yellow) 80%, black 20%);
    --_shades---shades-yellow--yellow-d300: color-mix(in srgb, var(--core-colors--color-yellow) 70%, black 30%);
    --_shades---shades-yellow--yellow-d400: color-mix(in srgb, var(--core-colors--color-yellow) 60%, black 40%);
    --_shades---shades-brightgrey--brightgrey-l400: color-mix(in srgb, var(--core-colors--color-bright-grey) 60%, white 40%);
    --_shades---shades-brightgrey--brightgrey-l300: color-mix(in srgb, var(--core-colors--color-bright-grey) 80%, white 20%);
    --_shades---shades-brightgrey--brightgrey-l200: color-mix(in srgb, var(--core-colors--color-bright-grey) 70%, white 30%);
    --_shades---shades-brightgrey--brightgrey-l100: color-mix(in srgb, var(--core-colors--color-bright-grey) 90%, white 10%);
    --_shades---shades-brightgrey--core-brightgrey: var(--core-colors--color-bright-grey);
    --_shades---shades-brightgrey--brightgrey-d100: color-mix(in srgb, var(--core-colors--color-bright-grey) 90%, black 10%);
    --_shades---shades-brightgrey--brightgrey-d200: color-mix(in srgb, var(--core-colors--color-bright-grey) 80%, black 20%);
    --_shades---shades-brightgrey--brightgrey-d300: color-mix(in srgb, var(--core-colors--color-bright-grey) 70%, black 30%);
    --_shades---shades-brightgrey--brightgrey-d400: color-mix(in srgb, var(--core-colors--color-bright-grey) 60%, black 40%);
    --_shades---shades-grey--grey-l400: #585858;
    --_shades---shades-grey--grey-l300: #4d4d4d;
    --_shades---shades-grey--grey-l200: #434343;
    --_shades---shades-grey--grey-l100: #383838;
    --_shades---shades-grey--core-grey: var(--core-colors--color-grey);
    --_shades---shades-grey--grey-d100: #2c2c2c;
    --_shades---shades-grey--grey-d200: #292929;
    --_shades---shades-grey--grey-d300: #272727;
    --_shades---shades-grey--grey-d400: #252525;
    --_space-size---container--container-sm-width: 1000px;
    --_space-size---container--container-padding-horizontal: var(--_space-size---spacing--1x);
    --_space-size---section--section-padding-vertical: var(--_space-size---spacing--8x);
    --_space-size---gap--sm-gap: var(--_space-size---spacing--2x);
    --_space-size---gap--lg-gap: var(--_space-size---spacing--4x);
    --_space-size---gap--xl-gap: var(--_space-size---spacing--5x);
    --_space-size---gap--xxl-gap: var(--_space-size---spacing--6x);
    --_space-size---ix--ix-hero-intro-slide-up-100vh: 0px;
    --_space-size---ix--ix-hero-intro-clipping-mask-1: 0px;
    --_space-size---ix--ix-hero-intro-clipping-mask-2: 0px;
    --_space-size---ix--ix-hero-intro-clipping-mask-3: 0px;
    --_space-size---ix--ix-card-spacing: 2rem;
    --_space-size---ix--ix-card-change-width: 50%;
    --_space-size---ix--ix-nav-width: 0px;
    --_colors---nav-link--nav-link-dark: var(--core-colors--core-blue);
    --_colors---nav-link--nav-link-light: var(--core-colors--color-white);
    --_colors---actions--color-success: var(--core-colors--color-dark-green);
    --_colors---actions--color-alert: var(--core-colors--color-red);
    --_colors---actions--color-error: var(--core-colors--color-red);
    --_space-size---radius--sm-radius: .25rem;
    --_colors---actions--color-warning: var(--core-colors--color-yellow);
    --_colors---actions--color-disabled: var(--core-colors--color-grey);
    --_space-size---radius--md-radius: .5rem;
    --_space-size---radius--lg-radius: .75rem;
    --_space-size---radius--xl-radius: 1rem;
    --_space-size---radius--round: 100rem;
    --_space-size---spacing--0-25x: .25rem;
    --_space-size---spacing--0-75x: .75rem;
    --_space-size---spacing--1-25x: .5rem;
    --_space-size---spacing--1-75x: 1.75rem;
    --_space-size---spacing--7x: 7rem;
    --_colors---links--link-font-color: var(--core-colors--color-dark-green);
    --_colors---links--filter-blue: white;
    --_colors---socials--linkedin: var(--core-colors--color-dark-green);
    --_colors---socials--facebook: var(--core-colors--color-purple);
    --_colors---socials--x: var(--core-colors--color-bright-green);
    --_colors---socials--google: var(--core-colors--color-orange);
    --_colors---socials--blog: var(--core-colors--color-yellow);
    --_type---eyebrows--letter-spacing: .1em;
    --_type---blockquotes--blockquote-bg: transparent;
    --_type---blockquotes--blockquote-border: transparent;
    --_type---blockquotes--blockquote-weight-regular: 500;
    --_type---blockquotes--blockquote-radius: 0px;
    --_type---blockquotes--blockquote-border-width: 3px;
    --_type---blockquotes--blockquote-font: var(--_type---fonts--blockquote);
    --_type---blockquotes--blockquote-spacing: .01em;
    --_type---blockquotes--blockquote-padding-vertical: 0px;
    --_type---blockquotes--blockquote-padding-horizontal: 0px;
    --_type---size: 0px;
    --_buttons---all-buttons--btn-border-shadow: color-mix(in srgb, var(--core-colors--inherit\<deleted\|variable-850e9567-9cc7-8405-f53c-cb124d742bd5\>) 20%, transparent);
    --_buttons---all-buttons--dark-border-shadow: #11294c4f;
    --_buttons---core-button-color--btn-blue-border-hover-inverse: var(--core-button-color--core-button-color);
    --_buttons---button-bright-blue--btn-bright-blue-border: var(--core-colors--color-bright-blue);
    --_buttons---button-grey--button-white--btngrey-bg: #575757;
    --_buttons---button-grey--button-white--btn-grey-bg-hover-dim: color-mix(in srgb, var(--_buttons---button-grey--button-white--btngrey-bg) 90%, black);
    --_buttons---button-grey--button-white--btn-grey-text: var(--core-colors--color-bright-white);
    --_buttons---button-grey--button-white--btngrey-border: #575757;
    --_buttons---button-grey--button-white--btn-grey-border-hover-dim: color-mix(in srgb, var(--_buttons---button-grey--button-white--btngrey-border) 90%, black);
    --_buttons---small-buttons--sm-btn-weight: 400;
    --_buttons---large-buttons--lg-btn-weight: 400;
    --_buttons---large-buttons--lg-btn-weight-hover: 400;
    --_buttons---tags--font-weight: 300;
    --_buttons---tags--font-weight-hover: 300;
    --_buttons---tags--border-width: 3rem;
    --_buttons---tags--radius: .35rem;
    --_cards---dark-card--dark-card-bg-dim: var(--_shades---shades-blue--blue-l200);
    --_cards---dark-card--dark-card-bg-transparent: transparent;
    --_cards---dark-card--dark-card-border-color-dim: var(--_shades---shades-blue--blue-l200);
    --_cards---dark-card--dark-card-border-color-transparent: transparent;
    --_cards---dark-card--dark-card-text-color-dim: color-mix(in srgb, black 2%, var(--_cards-2---dark-card--dark-card-text-color\<deleted\|variable-ecee5ff7-2bcd-a5fc-a1c2-d13a250f3f20\>));
    --_cards---light-card--light-card-bg-transparent: transparent;
    --_cards---light-card--light-card-border-color-transparent: transparent;
    --_cards---light-card--light-card-text-color-dim: var(--_shades---shades-blue--blue-l200);
    --_cards---light-card--light-card-text-color-inverse: var(--core-colors--color-bright-white);
    --_cards---light-card--light-card-text-color-inverse-dim: var(--_cards---light-card--light-card-bg-dim);
    --_cards---grey-card--grey-card-border-color-inverse-dim: var(--core-colors--color-grey);
    --_cards---grey-card--grey-card-border-color-transparent: transparent;
    --_cards---grey-card--grey-card-text-color-dim: color-mix(in srgb, var(--_cards---grey-card--grey-card-text-color) 90%, black);
    --_cards---card-headline-font: Khand, Impact, sans-serif;
    --core-button-color--button-color1-inverse: var(--core-colors--color-bright-white);
    --core-button-color--button-green: var(--core-colors--color-green);
    --core-button-color--button-color2-inverse: var(--core-colors--color-bright-white);
    --core-button-color--button-bright-blue: var(--core-colors--color-bright-blue);
    --core-button-color--button-color3-inverse: var(--core-colors--color-bright-white);
    --core-button-color--button-yellow: var(--core-colors--color-yellow);
    --core-button-color--button-color4-inverse: var(--core-colors--color-bright-white);
    --core-button-color--button-white-inverse: transparent;
    --conversion-flow-library--blue: white;
    --_forms---dark-input--input-dark-bg: var(--core-colors--core-blue);
    --_forms---dark-input--input-dark-bg-hover: color-mix(in srgb, var(--_forms---dark-input--input-dark-bg) 90%, white);
    --_forms---dark-input--input-dark-text: var(--core-colors--color-bright-white);
    --_forms---dark-input--input-dark-text-placeholder: color-mix(in srgb, var(--_forms---dark-input--input-dark-text) 80%, black);
    --_forms---dark-input--input-dark-border: var(--core-colors--core-blue);
    --_forms---dark-input--input-dark-border-hover: color-mix(in srgb, var(--_forms---dark-input--input-dark-border) 90%, white);
    --_forms---light-input--input-light-bg: var(--core-colors--color-white);
    --_forms---light-input--input-light-bg-hover: color-mix(in srgb, var(--_forms---light-input--input-light-bg) 97%, black);
    --_forms---light-input--input-light-text-placeholder: var(--core-colors--color-bright-grey);
    --_forms---light-input--input-light-border: #1c437f87;
    --_forms---light-input--input-light-border-hover: color-mix(in srgb, var(--_forms---light-input--input-light-border) 90%, white);
    --_forms---light-input--input-light-text: var(--core-colors--core-blue);
    --_forms---form-label-text-color: var(--core-colors--core-blue);
    --_forms---input-text-height: 1.5;
    --conversion-flow-library--sandy-brown: #ffa84b;
    --conversion-flow-library--light-coral: #ff5e69;
    --_space-size-2---spacing--1x\<deleted\|variable-94544cdd-b5ec-5c36-1a6d-27dd96a42998\>: 1rem;
    --_core-2---core-colors--white\<deleted\|variable-9ff58413-c126-0aeb-f9d9-fe36c5731e50\>: #fafafa;
    --_space-size-2---spacing--3x\<deleted\|variable-d92549bc-4de1-d7bf-06b4-f6f50a664d19\>: 3rem;
    --_space-size-2---spacing--2x\<deleted\|variable-c3571319-0ef7-3008-25b4-cee6085199f3\>: 2rem;
    --_space-size-2---spacing--1-5x\<deleted\|variable-391b5037-aedd-900e-06c7-d3bad9d47f74\>: 1.5rem;
    --_shades-2---shades-blue--blue-d400\<deleted\|variable-e72ceb37-4382-fd94-27bb-e49b685cc48a\>: #163666;
    --_cards-2---light-card--light-card-bg\<deleted\|variable-9a454ea9-e398-022b-d1a9-c6601be6717b\>: var(--_core-2---core-colors--bright-white\<deleted\|variable-b41d2796-e55c-8acf-5643-7b00f76e3939\>);
    --_colors-2---text--text-blue\<deleted\|variable-a507b58f-c11a-9188-8305-e054e152badf\>: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-62459221-7920-a528-c555-6c7d086b6a7f\>);
    --_colors-2---border-colors--border-blue\<deleted\|variable-0decd458-7e60-5477-3130-03b5e7b5a4ee\>: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-62459221-7920-a528-c555-6c7d086b6a7f\>);
    --_shades-2---shades-blue--corecolor\<deleted\|variable-6b9e266a-4891-751b-56ae-92a44eae5811\>: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-2ffaf34d-b87f-58bd-7607-66e256b28c00\>);
    --_colors-2---backgrounds--bg-green\<deleted\|variable-b268fbaf-3342-2c44-deed-7d5117d9a304\>: var(--_core-2---core-colors--color2-green\<deleted\|variable-6ffb5455-4524-0900-7c48-7ee0700b9b1b\>);
    --_buttons-2---button-green--btn-green-border\<deleted\|variable-afc61bc2-0d9b-f3a3-6b5f-50c4961b333d\>: var(--_colors-2---border-colors--border-green\<deleted\|variable-ae5c815f-e75d-e476-6259-e150d82a9474\>);
    --_colors-2---border-colors--border-grey\<deleted\|variable-c1e7f5ba-27c7-79a4-1971-eb1fdc06e5b0\>: var(--_core-2---core-colors--grey\<deleted\|variable-e1f6629f-600b-5f3e-0888-8b9081e0f3cd\>);
    --_colors-2---backgrounds--bg-grey\<deleted\|variable-fb1048a3-93a0-eacb-f757-10e46336ab24\>: var(--_core-2---core-colors--grey\<deleted\|variable-e1f6629f-600b-5f3e-0888-8b9081e0f3cd\>);
    --_colors---text--text-brightgrey\<deleted\|variable-6ddc3331-63d3-034b-2f84-098b850074cf\>: var(--core-colors--color-bright-grey);
    --_type-2---text-weights--text-bold\<deleted\|variable-b6745289-328c-658d-49f1-2c721c17f811\>: 700;
    --_base-2---fonts--font-khand\<deleted\|variable-17c49927-bc87-651d-1dc5-9a26cd502064\>: Khand, Impact, sans-serif;
    --_base-2---fonts--font-fira-code\<deleted\|variable-c08c3ce2-22b5-bd46-a33a-a03af6f75da2\>: "Fira Code", Georgia, sans-serif;
    --_base-2---text--text-size\<deleted\|variable-a683906f-69c7-185d-c16a-d4fa1ed0b0bd\>: 1rem;
    --_colors-2---backgrounds--bg-blue\<deleted\|variable-13272c95-dabb-25de-d18e-cfac21c4b7a4\>: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-2ffaf34d-b87f-58bd-7607-66e256b28c00\>);
    --_core-2---core-colors--bright-white\<deleted\|variable-8b46cec3-a133-22de-a2ba-c92414029514\>: white;
    --_shades-2---shades-blue--blue-l200\<deleted\|variable-66c98905-f580-2b22-d476-b878f31a9f80\>: #33568c;
    --core-colors--inherit\<deleted\|variable-850e9567-9cc7-8405-f53c-cb124d742bd5\>: #b2d3de;
    --_cards-2---dark-card--dark-card-text-color\<deleted\|variable-ecee5ff7-2bcd-a5fc-a1c2-d13a250f3f20\>: var(--_colors-2---text--text-brightwhite\<deleted\|variable-e4bcda8d-9ac7-1073-4a21-7d3d6a4b1a11\>);
    --_core-2---core-colors--bright-white\<deleted\|variable-b41d2796-e55c-8acf-5643-7b00f76e3939\>: white;
    --_core-2---core-colors--core-color-blue\<deleted\|variable-2ffaf34d-b87f-58bd-7607-66e256b28c00\>: #1c437f;
    --_core-2---core-colors--color2-green\<deleted\|variable-6ffb5455-4524-0900-7c48-7ee0700b9b1b\>: #5b8aa0;
    --_colors-2---border-colors--border-green\<deleted\|variable-ae5c815f-e75d-e476-6259-e150d82a9474\>: var(--_core-2---core-colors--color2-green\<deleted\|variable-6ffb5455-4524-0900-7c48-7ee0700b9b1b\>);
    --_core-2---core-colors--grey\<deleted\|variable-e1f6629f-600b-5f3e-0888-8b9081e0f3cd\>: #575757;
    --_colors-2---text--text-brightwhite\<deleted\|variable-e4bcda8d-9ac7-1073-4a21-7d3d6a4b1a11\>: var(--_core-2---core-colors--bright-white\<deleted\|variable-b41d2796-e55c-8acf-5643-7b00f76e3939\>);