<!-- START: Social Button -->
<!--  Used to Component "Social Button" -->

<style>
.socials_component-button[data-icon-size="1x1"] { width: 1rem!important; height: 1rem!important; }
.socials_component-button[data-icon-size="2x2"] { width: 2rem!important; height: 2rem!important; }
.socials_component-button[data-icon-size="3x3"] { width: 3rem!important; height: 3rem!important; }
.socials_component-button[data-icon-size="4x4"] { width: 4rem!important; height: 4rem!important; }

.socials_icon-size[data-icon-size="1x1"] { width: 1rem!important; height: 1rem!important; }
.socials_icon-size[data-icon-size="2x2"] { width: 2rem!important; height: 2rem!important; }
.socials_icon-size[data-icon-size="3x3"] { width: 3rem!important; height: 3rem!important; }
.socials_icon-size[data-icon-size="4x4"] { width: 4rem!important; height: 4rem!important; }
</style>

<!-- END: Social Button -->



<!--  Used to Component "Social Button" -->

<style>
  /* SMALL SIZE */
  .button[data-button-size="small"] {
    font-size: var(--_buttons---small-buttons--sm-btn-text-size);
    padding-top: var(--_buttons---small-buttons--sm-btn-padding-top);
    padding-bottom: var(--_buttons---small-buttons--sm-btn-padding-bottom);
    padding-left: var(--_buttons---small-buttons--sm-btn-padding-left);
    padding-right: var(--_buttons---small-buttons--sm-btn-padding-right);
    border-top-width: var(--_buttons---small-buttons--sm-btn-border-width);
    border-bottom-width: var(--_buttons---small-buttons--sm-btn-border-width);
    border-left-width: var(--_buttons---small-buttons--sm-btn-border-width);
    border-right-width: var(--_buttons---small-buttons--sm-btn-border-width);
    border-top-left-radius: var(--_buttons---small-buttons--sm-btn-radius);
    border-top-right-radius: var(--_buttons---small-buttons--sm-btn-radius);
    border-bottom-left-radius: var(--_buttons---small-buttons--sm-btn-radius);
    border-bottom-right-radius: var(--_buttons---small-buttons--sm-btn-radius);
  }
  /* NORMAL SIZE */
  .button[data-button-size="normal"] {
    font-size: var(--_buttons---base-buttons--btn-font-size);
    padding-top: var(--_buttons---base-buttons--btn-padding-top);
    padding-bottom: var(--_buttons---base-buttons--btn-padding-bottom);
    padding-left: var(--_buttons---base-buttons--btn-padding-left);
    padding-right: var(--_buttons---base-buttons--btn-padding-right);
    border-top-width: var(--_buttons---all-buttons--btn-border-width);
    border-bottom-width: var(--_buttons---all-buttons--btn-border-width);
    border-left-width: var(--_buttons---all-buttons--btn-border-width);
    border-right-width: var(--_buttons---all-buttons--btn-border-width);
    border-top-left-radius: var(--_buttons---all-buttons--btn-radius);
    border-top-right-radius: var(--_buttons---all-buttons--btn-radius);
    border-bottom-left-radius: var(--_buttons---all-buttons--btn-radius);
    border-bottom-right-radius: var(--_buttons---all-buttons--btn-radius);
  }
  /* LARGE SIZE */
  .button[data-button-size="big"] {
    font-size: var(--_buttons---large-buttons--lg-btn-text-size);
    padding-top: var(--_buttons---large-buttons--lg-btn-padding-top);
    padding-bottom: var(--_buttons---large-buttons--lg-btn-padding-bottom);
    padding-left: var(--_buttons---large-buttons--lg-btn-padding-left);
    padding-right: var(--_buttons---large-buttons--lg-btn-padding-right);
    border-top-width: var(--_buttons---large-buttons--lg-btn-border-width);
    border-bottom-width: var(--_buttons---large-buttons--lg-btn-border-width);
    border-left-width: var(--_buttons---large-buttons--lg-btn-border-width);
    border-right-width: var(--_buttons---large-buttons--lg-btn-border-width);
    border-top-left-radius: var(--_buttons---large-buttons--lg-btn-radius);
    border-top-right-radius: var(--_buttons---large-buttons--lg-btn-radius);
    border-bottom-left-radius: var(--_buttons---large-buttons--lg-btn-radius);
    border-bottom-right-radius: var(--_buttons---large-buttons--lg-btn-radius);
  }
</style>

<!-- END: Social Button -->