  <span style="font-family:Supreme,'General Sans','Public Sans','Andale Mono',tahoma,sans-serif!important;color:#71c9c5!important;font-weight:300!important;font-size:1.25rem;color: #163666">

  <span style="font-family:Khand,Oswald,Impact,sans-serif!important;font-weight:700!important;font-size:2.5rem;text-transform:uppercase;color: #163666;">