<!DOCTYPE html>
<html lang="en-US">


<head>
  <meta charset="utf-8" />
  <title>Preview Card</title>
  <link href="https://cdn.prod.website-files.com/68afa49765975e6627b8e511/css/css-extract.webflow.shared.5cc476009.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="blog-slider">
    <div id="preview-card-summary-onhover" class="preview-card_wrapper">
      <div data-field="dynamic-image-url" class="preview-card shadow-blue">
        <div class="preview_content-wrapper padding_large">
          <div class="blog_meta">
            <div
              data-field="dynamic-category"
              class="blog_category">Category</div>
            <p
              data-field="dynamic-publish-date"
              class="blog_date">MONTH XXXX</p>
          </div>
          <h3
            data-field="dynamic-blog-name"
            class="preview_headline margin-top_small margin-bottom_medium">Heading</h3>
          <p data-field="dynamic-blog-summary"
            class="preview_paragraph text-size-small margin-bottom_medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <a
            data-field="dynamic-blog-url"
            href="#"
            class="link-block flex-align_center w-inline-block">
            <div
              class="button-link_underline flex-align_center">
              <p
                data-btn="blog-preview-cta"
                class="cta-link">View Article
              </p>
              <div
                class="link-line">
              </div>
            </div>
          </a>
          <img
            width="25"
            height="25"
            alt="X Icon for Close Window"
            src="https://cdn.prod.website-files.com/68afa49765975e6627b8e511/68afc35060c0fed605a5f115_c68a1dfa80662c3064e12f294a7a2c05_close-x.svg"
            loading="lazy" data-btn="blog-preview-close"
            class="preview-close">
        </div>
      </div>
    </div>
  </div>

</body>

</html>